html, body {
    margin:0;
    padding:0;
    color: #000;
    font-family: Verdana, sans-serif;   
    font-size: 1.2em;
    font-weight: bold;
}
#main {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}
#main input{
    display: none;
}
#main label {
    display: block;
    padding: 0.5em 0;
    width: 100%;
    color: #007BFF;
    border-top: 0.1em solid #CECECE;
}
#main label:active {
    cursor: wait;
    color: #007BFF;
    opacity: 0.5;
}
#main label .txt {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
#main label .mem {
    height: 0;
    text-align: center;
}
#main label .mem img {
    padding-top: 0.5em;
    height: 0;
    opacity: 0;
    transition: 2s;
}
#main input:checked + label {
	color: #000;
}
#main input:checked + label .mem {
    height: auto;
}
#main input:checked + label .mem img {
    height: auto;
    opacity: 1;
    transition: 2s;
}
#main input:checked + label .txt .ico {
    transform: rotate(45deg);
}
@media (hover: hover) {
    #main:hover label {
        cursor: pointer;
        color: #000;
    }
    #main label .txt .ico {
        opacity: 0;
        transition: 1s;
    }
    #main:hover label .txt .ico {
        opacity: 1;
        transition: 1s;
    }
    #main label:hover .mem {
        height: auto;
    }
    #main label:hover .mem img {
        height: auto;
        opacity: 1;
        transition: 2s;
    }
    #main input + label:hover .txt .ico {
        transform: rotate(45deg);
    }
}
@media all and (max-width: 1199px) {
    html, body {
        font-size: 1.0em;
    }
    #main {
        width: 80%;
    }
    #main label .mem img {
        width: 70%;
    }
}
@media all and (max-width: 575px) {
    html, body {
        font-size: 0.85em;
    }
    #main {
        width: 95%;
    }
    #main label .mem img {
        width: 75%;
    }
}
